*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --black: #20232a;
}

html {
  font-size: 62.5%;
  font-family: Lato;
}

body {
  box-sizing: border-box;
}

.app {
  background-image: linear-gradient(to right, var(--color1), var(--color2));
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 2rem .5rem;
}

#quote-box {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 300px;
  max-width: 800px;
  min-height: 300px;
  margin: 10rem auto;
  color: white;
  padding: 1rem;
  /* box-shadow: 4px 4px 10px rgba(#000, .1); */
  border-radius: 5px;
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
  position: relative;
}

#text {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

#text::before {
  content: "\201C";
  color: white;
  font-size: 6rem;
  margin-right: .5rem;
  position: absolute;
  top: -1.75rem;
  left: -.5rem;
}

#author {
  font-size: 1.5rem;
  align-self: flex-end;
  margin-right: 4rem;
  font-style: italic;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.btn {
  border-radius: 5px;
  box-sizing: content-box;
  background-color: var(--color1);
  padding: 1rem 2rem;
  color: white;
  margin: 0 .5rem;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  color: var(--black);
}

.btn:active, .btn:visited {
  outline: none;
}

.fb {
  margin-right: auto;
}

#tweet-quote {
  color: currentColor;
  text-decoration: inherit;
}